# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/

# VSCode
.vscode/

# Environment variables
.env
.env.*

# Pytest
.pytest_cache/

# Migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/__pycache__/

# OS files
.DS_Store
Thumbs.db
